[Unit]
Description=Fundee Service (Hyperliquid)
After=network.target

[Service]
Type=simple
EnvironmentFile=%h/fundee/.env
WorkingDirectory=%h/fundee
ExecStart=/usr/bin/env uv run --env-file %h/fundee/.env python fundee.py --headless
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
