[Unit]
Description=Fundee Service (Hyperliquid)
After=network.target

[Service]
Type=simple
EnvironmentFile=/home/johnd/fundee/.env
User=johnd
WorkingDirectory=/home/johnd/fundee
ExecStart=/home/johnd/fundee/.venv/bin/uv run --env-file /home/johnd/fundee/.env python /home/johnd/fundee/fundee.py --headless
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
